---
openssl:
  password:
  keypath:
codesign:
  password:
  keypath:
  timestamp:
gpg:
  password:
  key:
app:
  timeout: 30
auth:
  username:
  password:
productsign:
  password:
  keypath:
  certs:
    - cert00
    - cert01
    - cert02
